.brands-swiper {
  margin-bottom: 14px;

  @media (min-width: 768px) {
    margin-bottom: 12px;
  }

  @media (min-width: 1366px) {
    margin-bottom: 30px;
  }
}

.container-title {
  margin: 0 -16px 16px;
  border-top: 1px solid $border-color;
  background: linear-gradient(270deg, $mobileMenu-bg-color 0%, $main-bg-color 98.61%);

  @media (min-width: 768px) {
    margin: 0 -24px 24px;
  }

  @media (min-width: 1366px) {
    margin: 0 -32px 24px;
  }
}

.swiper-title {
  margin: 0;
  padding: 16px;
  line-height: 24px;
  font-size: 1.14rem;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  color: $menuBtn-focus-color;
  background-color: transparent;

  @media (min-width: 768px) {
    padding: 16px 24px;
  }

  @media (min-width: 1366px) {
    padding: 16px 32px;
  }
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: $pagination-color;

  @media (min-width: 768px) {
    display: none;
  }
}

.brands-wrapper {
  margin: 0;
  padding: 0;
  margin-bottom: 42px;

  @media (min-width: 768px) {
    height: 124px;
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: 1984px) {
    height: 32px;
  }

  &_height {
    @media (min-width: 768px) {
      height: 306px;
    }

    @media (min-width: 1040px) {
      height: 206px;
    }

    @media (min-width: 1366px) {
      height: 306px;
    }

    @media (min-width: 1440px) {
      height: 206px;
    }

    @media (min-width: 1984px) {
      height: 124px;
    }
  }

  &__brand-slide {
    width: 240px;
    height: 72px;
    display: flex;
    padding-left: 16px;
    border-radius: 6px;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;
    background: $mobileMenu-bg-color;
    border: 1px solid $separator-bg-color;

    @media (min-width: 768px) {
      width: 224px;
      margin: 0 24px 16px 0;
    }

    @media (min-width: 1366px) {
      width: 240px;
      margin: 0 32px 16px 0;
    }

    &:nth-child(3n) {
      @media (min-width: 768px) {
        margin-right: 0;
      }

      @media (min-width: 800px) {
        margin-right: 24px;
      }

      @media (min-width: 1366px) {
        margin-right: 32px;
      }
    }

    &:nth-child(4n) {
      @media (min-width: 1440px) {
        margin-right: 0;
      }

      @media (min-width: 1500px) {
        margin-right: 32px;
      }
    }

    &:nth-child(6n) {
      @media (min-width: 1984px) {
        margin-right: 0;
      }
    }
  }
}
