.main {
  width: 100%;
  min-width: 0;
  display: flex;
  padding: 0 16px;
  color: $menuBtn-color;
  flex-direction: column;
  justify-content: space-around;
  background-color: $main-bg-color;

  @media (min-width: 768px) {
    padding: 0 24px;
  }

  @media (min-width: 1366px) {
    padding: 0 32px;
  }

  &__header {
    @media (min-width: 1366px) {
      display: flex;
      padding: 42px 0 24px;
      justify-content: space-between;
    }
  }

  &__title {
    margin: 0;
    padding: 24px 0;
    font-size: 2rem;
    line-height: 40px;
    font-weight: bold;
    letter-spacing: -0.6px;

    @media (min-width: 1366px) {
      padding: 0;
    }

    &::before {
      width: 4px;
      content: "";
      height: 42px;
      margin-left: -16px;
      position: absolute;
      background: url(../img/highLight.svg) no-repeat;

      @media (min-width: 768px) {
        margin-left: -24px;
      }

      @media (min-width: 1366px) {
        margin-left: -32px;
      }
    }
  }

  &__services {
    @media (min-width: 1366px) {
      width: 373px;
      justify-content: space-between;
    }

    label {
      @media (min-width: 1366px) {
        width: 173px;
        display: flex;
        line-height: 24px;
        font-size: 1.14rem;
        align-items: center;
        letter-spacing: -0.2px;
        justify-content: space-between;
      }
    }

    .slideText {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &_hidden {
      display: none;

      @media (min-width: 1366px) {
        display: flex;
      }
    }
  }

  &__price-info {
    width: 70vw;
    font-size: 1rem;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 16px;
    letter-spacing: 0.2px;

    @media (min-width: 768px) {
      width: 55vw;
    }

    @media (min-width: 1440px) {
      width: 30vw;
    }

  }

  &__footer {
    margin-bottom: 40px;

    @media (min-width: 768px) {
      margin-bottom: 50px;
    }
  }

  &__get-offer {
    font-weight: 500;
    line-height: 24px;
    font-size: 1.14rem;
    padding-right: 18px;
    background: url(../img/dropdown.svg) no-repeat 100% 50%;
  }
}
