$btn-bg-color: #ff3e79;
$btn-bg-color-hover: #6b0505;
$mobileMenu-bg-color: #fff;
$main-fonts: "TT Lakes";
$menuBtn-color: #1b1c21;
$menuBtn-focus-color: #7e7e82;
$menuBtn-focus-bg-color: #41F6D7;
$border-color: #d9fff5;
$separator-bg-color: #eaeaea;
$main-bg-color: #f8f8f8;
$btn-border-color: #b8ffec;
$pagination-color: #b5b6bc;
$input-color: #B5B6BC;
